
<h1>About This App</h1>

<p>This Web Application's purpose is for writers to pitch article
suggestions straight to the editor. From there the Editor can "approve or decline" 
the article with the writer being notified </p>


