<div class="jumbotron">
    <div class="container">
        <h1>Contact <span class="orange">Designer</span><span class="red">Log</span></h1>
        <p>Thanks for stopping by and checking out Direct Pitch. If you're interested in writing for us, feel free to reachout .
		<p>Email: hunter@woodlandsmonocle.com</p>
    </div>
</div>