<div class="jumbotron jumbotron-home">
    <div class="container">
            <h1>Get Paid to Voice Your Opinion</h1>
        <% else %>
        <p>We are looking for Locals to write articles About our community.</p>
        <p>Topics we like to see: Local Sports | Store Openings | Local Politics | Restuarant + Food Reviews | Breaking News (includes crime)</p>
        <%= link_to "Sign Up »", "#", class: "btn btn-primary btn-lg" %> 
    </div>
</div>


   </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-xs-center">How does it work?</h2>
                <h5 class="text-xs-center subheading">Direct Pitch gives you access to editors, allowing you to make money and get published.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p><strong class="red">For Editors:</strong></p>
            </div>
            <div class="col-md-9">
                <p>Easily approve or deny prospective articles, manage writer's compensation, and publish to your website.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <p><strong class="orange">For Writers:</strong></p>
            </div>
            <div class="col-md-9">
                <p>Pitch articles directly to the editor and recieve payments </p>
            </div>
        </div>
        <hr>
        <div class="row">

